[2017-06-28 21:44] samueldaviddelacruz opened #1 "Blank page on firefox 54"
Console error : TypeError: access to strict mode caller function is censored.
![image](https://user-images.githubusercontent.com/8752960/27661695-472f908a-5c29-11e7-99d5-368a2a524698.png)

[2017-06-28 23:02] rmariuzzo commented on #1
Fixed it in last commit.

[2017-06-28 23:02] #1 closed

[2017-06-29 02:40] diegomichell opened #2 "Se debe mejorar el responsive"
Al ver en pantalla de Iphone 6, y tantos otros dispositiovos el contenido se descuadra

<img width="360" alt="screen shot 2017-06-28 at 10 36 46 pm" src="https://user-images.githubusercontent.com/4793805/27669048-b5cdb336-5c52-11e7-80f5-779568b2dec3.png">

[2017-06-29 03:05] rmariuzzo commented on #2
Cool @diegomichell! Tenemos que hacerlo responsive, te animas a hacer un PR? Estamos utilizando [materialize-css](materializecss.com).

[2017-06-29 04:06] #2 closed

[2017-06-29 04:10] rmariuzzo opened #3 "Feature: add pagination to popular repos"
As a user, I would like to view all popular repositories. I want to navigate the repos as pages.

 - [x] Add a footer with [pagination](http://materializecss.com/pagination.html) **(done #5)**.
 - [x] Navigate to desired page of repos **(done #5)**.
 - [x] Show 9 pages at once (4 previous if any, 4 next if any).

Note: we don't want to sync the route or alter the URL / location.

[2017-06-29 22:44] diegomichell commented on #2
@rmariuzzo  Excelente, lo veo tarde, de hecho cuando lo abri ya estaba trabajando en la solucion, ya hicieron los cambios, aunque todavia veo algunas cosas que mejorar, vere si lo combino con mis cambios.

[2017-07-04 15:57] #3 closed

[2017-07-04 16:30] rmariuzzo opened #6 "Handle repos changes such as name renaming"
Currently, the scraper identify repos by their name `user/repo`, but if a repo name changes then we will be adding the same repo twice, and thrice, and so on...

 - [x] We need to identify repos by their GitHub ids.
 - [x] We need to store their GitHub ids.

[2017-08-09 08:25] DannyFeliz opened #9 "Add the position number in the card"
That would be cool if the position number is added to the card, this will give us a better idea how much repositories there are before ours. What I suggest is something like:
![number](https://i.imgur.com/cGQH1Kv.png)

[2017-08-09 08:35] DannyFeliz opened #10 "Filter repositories by name or username"
Sometimes we want to find a specific repository or all the repositories of a user but the only way at this moment is walking through all pages until we find it but this is time-consuming and is not an easy way, so I suggest adding a search by repository name or username.

## Tasks

 - [x] Create a `Filter` component at `src/client/components/filter/Filter.js`
 - [x] The `Filter` component will hav

[2017-08-09 12:38] #6 closed

[2017-10-01 18:12] DannyFeliz opened #11 "Add thousands separator to stats"
![2017-10-01 14_11_16-https___developersdo github io_opensource_](https://user-images.githubusercontent.com/5460365/31057547-8527639e-a6b2-11e7-9272-9e1e814b8c66.png)

[2017-10-03 22:19] #11 closed

[2017-10-03 22:19] #9 closed

[2017-10-03 22:21] rmariuzzo opened #14 "Handle long tag list in repo cards."
Some repository cards in some resolutions they will overflow and put the extra content above. The desired is to disable the wrapping and make it look more aceptable. We could hide the extra in the same line. Any suggestions are more than welcome!

<img width="432" alt="localhost 8080 2017-10-03 18-19-15" src="https://user-images.githubusercontent.com/439839/31151861-7cb20b40-a867-11e7-98fc-9b9ffee

[2017-10-05 15:12] DannyFeliz opened #15 "Implement an automated deployment system"
I do not know the current deployment process of this project but it seems not to be automated that is why I suggest using some tool such as Travis-ci [travis-ci](https://travis-ci.org/) or [deployhq](https://www.deployhq.com/pricing) which offer unlimited deployments to open sources projects.

[2017-10-05 16:32] rmariuzzo commented on #15
@DannyFeliz this is a good initiative! The current manual process is pretty simple:

 1. `git checkout master`
 2. `yarn build`
 3. `git push origin master`

Can you setup something?

[2017-10-05 20:54] DSchau commented on #15
I can pull this down guys. One second!

[2017-10-06 02:57] DannyFeliz commented on #15
Closes by #16

[2017-10-06 02:57] #15 closed

[2017-10-09 22:49] rmariuzzo opened #18 "Add user and repo history"
We would like to prepare the current code to support history of changes for users and repo.

**Tasks:**
 - [ ] Create history for users ([see issue](https://github.com/developersdo/opensource/issues/19)).
 - [ ] Create history for repos ([see issue](https://github.com/developersdo/opensource/issues/20)).

**Important: this issue should be worked as separate tasks.**

[2017-10-10 00:33] rmariuzzo opened #19 "Create history for users"
We would like to track some changes for users when the scrape runs.

**Tasks:**
 - [x] Create a migration scripts using `yarn sequelize -- migration:create`.
 - [x] Define the table `users_history` to be similar to `users` except for the field `scrapedAt`.
 - [ ] During scraper execution detect any kind of change made. If a change was detected then create a record into `users_history` containing t

[2017-10-10 00:37] rmariuzzo opened #20 "Create history for repos"
We would like to track some changes for repos when the scrape runs.

**Tasks:**
 - [x] Create a migration script using `yarn sequelize -- migration:create --name repo-changes`.
 - [x] Define the table `repo_changes` to be similar to `repos` except for the field `scrapedAt`.
 - [x] During scraper execution detect any kind of change made. If a change was detected then create a record into `repo_chan

[2017-10-10 01:57] rmariuzzo opened #21 "Create CLI script for scraper"
Currently we have 3 NPM scripts for scraping purposes. However no script files exists. We would like to create a script files that support the three current actions for the scraper:

 1. `scrape` – scrape everything.
 1. `scrape --only=users` – scrape users only.
 1. `scrape --only=repos` – scrape repos only.

**Tasks:**

 - [ ] Create a script file at: `src/server/scripts/scrape.js`.
 - [ ] Follo

[2017-10-10 02:02] rmariuzzo opened #22 "Create CLI script for generator"
Currently we have a single NPM script for data generation purposes. However no script files exists. We would like to create a script files that replace the data generation process.

**Tasks:**

 - [x] Create a script file at: `src/server/scripts/generate-data.js`.
 - [x] Follow [this guide](https://medium.com/netscape/a-guide-to-create-a-nodejs-command-line-package-c2166ad0452e) to add the proper

[2017-10-10 02:11] #14 closed

[2017-10-10 02:13] rmariuzzo commented on #10
@DannyFeliz I think this feature will be interesting to implement at some point, but it require details on how to get it done. I would like to wait until we get some other task ready and then revisit this. Meanwhile, can you add detailed instructions for a new contributor in the form of a task list?

[2017-10-10 02:18] jouderianjr commented on #22
Hey, I can do this 💃

[2017-10-10 02:19] rmariuzzo commented on #22
All yours mate! Take in account we are using Node 8+.

[2017-10-10 05:47] uLan08 commented on #21
I am interested in this. I'll give it a try :muscle:

[2017-10-10 07:47] uLan08 commented on #21
Weird, the argument is not being parsed in if I supply `--only=user` but if it's only `only=user` then it does.

[2017-10-10 13:27] rmariuzzo commented on #21
Hi @uLan08! Please, use `[minimist](https://github.com/substack/minimist)` to parse CLI args, it will set the base for other CLI scripts. And it will help you a lot. ;-)

[2017-10-10 16:12] rmariuzzo commented on #19
I will work on this now.

[2017-10-10 21:58] #22 closed

[2017-10-11 03:01] uLan08 commented on #21
@rmariuzzo I am still not able to parse it correctly. It seems that if I pass the option in the script entry in package json like this `"scrape": "./src/server/scripts/scrape.js --only=user"` then it is parsed correctly but if I passed it in thru `yarn scrape --only=user` then it doesn't. Any thoughts on this?

[2017-10-11 04:10] #19 closed

[2017-10-11 04:23] rmariuzzo commented on #21
That's normal @uLan08. When you do `yarn scrape --only=user` the `--only` option is passed to yarn and in effect swallowed. To tell yarn to keep passing CLI options you have to do:

[code]

The same applies to NPM scripts. ;)

[2017-10-11 04:41] uLan08 commented on #21
Ah I didn't know that. I can get a PR up within a few minutes.

[2017-10-11 21:27] rmariuzzo opened #29 "Check the README file for typos"
We would like for someone to read and double check the `README.md` file for typos and submit the changes.

The `README.md` file can be read edited directly following this link: https://github.com/developersdo/opensource/edit/develop/README.md

[2017-10-11 21:28] maria-mata commented on #29
I got this!

[2017-10-12 02:52] #29 closed

[2017-10-16 13:35] DannyFeliz opened #34 "Strange behavior with the pagination when you navigate between pages"
![Pagination Issue](https://gifyu.com/images/Oct-13-2017-18-21-47.gif)

[2017-10-16 14:38] #21 closed

[2017-10-16 14:41] rmariuzzo commented on #34
That's really, really strange... probably is the logic behind the pagination: https://github.com/developersdo/opensource/blob/master/src/client/pages/home/components/popular-repos/index.js#L39-L43

[2017-10-16 14:51] Hekotoru commented on #34
i Will try to check this after work.

[2017-10-16 14:52] rmariuzzo commented on #34
@Hekotoru all your mate!

[2017-10-19 08:09] DannyFeliz opened #38 "Card number duplicated"
If you scroll down too fast something happens with the position numbers and appear duplicates
![image](https://user-images.githubusercontent.com/5460365/31759785-88877764-b480-11e7-99ed-292bf5e5ddb0.png)

[2017-10-19 12:44] rmariuzzo commented on #38
Do you mean duplicate position number? Or duplicate card?

On Oct 19, 2017 04:09, "Danny Feliz" <notifications@github.com> wrote:

[2017-10-19 15:40] iCueto commented on #38
He means that the position numbers is duplicate... :)

[2017-10-19 19:40] Hekotoru commented on #38
And the star number too.

[2017-10-19 20:32] rmariuzzo commented on #38
It was intentional. Popular repositories are sorted by stargazers. However, two or more repositories can have same amount of stargazers. That's the reason I'm giving the same position.

What do you all think?

[2017-10-20 13:43] Hekotoru commented on #38
It's nice to have it in the same position but in that way we don't have a validation to create an unique position number. So my suggestion is to remove the card number and give priority to the search bar.

[2017-10-20 13:49] mecm1993 commented on #38
The cause of the weird behavior of issue [#34](https://github.com/developersdo/opensource/issues/34) is because of the same amount of stargazers between repos. However, in my opinion this is a list of the most popular, trending or newest repos from our community.

Therefore, duplication of position should not be allowed, if there are two or more repos with the same amount of stargazers, then the a

[2017-10-20 14:15] rmariuzzo commented on #38
@hekotoru the search in both the repos and devs is a must have. We have to creat an issue for that.

@mecm1993 I understand your point on the #34. Even if we use more fields we should deal properly with repos that can have the same popularity.

Personally, I think the same position number due to the same amount of stargazers can be confusing. With that I mind it would be better to use more fields

[2017-10-20 14:16] rmariuzzo commented on #34
Closing because this was related on the old choo implementation.

[2017-10-20 14:16] #34 closed

[2017-10-20 14:17] rmariuzzo commented on #10
I think now is the time to focus on add the search bar for repos and devs pages. 👌

[2017-10-20 16:11] rmariuzzo opened #39 "Infinite scroller component do jump on scroll"
We are using [`react-list`](https://github.com/coderiety/react-list). However, scrolling in any size cause the scroll to jump. See screencast:

![ezgif-4-266a25e1a0](https://user-images.githubusercontent.com/439839/31830803-54dc3214-b58f-11e7-9a31-c8c3351cf61c.gif)

---

We would like to find another alternative for infinite scroll. It can be another library, or another technique (pagination or lo

[2017-10-20 16:36] rmariuzzo opened #40 "Improve popular repositories positioning"
Currently we are determining popular repositories by their `stargazers`. That said, if two or more repositories has the same amount of `stargazers` then all of them will have the same position. For example:

<img width="1032" alt="dominican open source communities 2017-10-20 12-22-16" src="https://user-images.githubusercontent.com/439839/31831398-66b6074c-b591-11e7-9450-97da4b4879e6.png">

Those p

[2017-10-20 16:37] rmariuzzo commented on #38
This will be handled at #40. I will close this.

[2017-10-20 16:37] #38 closed

[2017-10-20 16:45] rmariuzzo commented on #39
I will be working on this.

[2017-10-20 17:47] pthomas931 commented on #40
Attempted solving this in PR  #41

[2017-10-20 18:34] rmariuzzo commented on #39
Fixed on https://github.com/developersdo/opensource/commit/d55118cd3fdd8c416caba35c249fd454d32d97ca

[2017-10-20 18:34] #39 closed

[2017-10-20 19:21] rmariuzzo opened #42 "Filter developers by name"
## Requirements

 - May depend on #10

## Tasks

 - [ ] Create or reuse the `Filter` component at `src/client/components/filter/Filter.js` (more details on creating at #10).
 - [ ] Developers should be filtered by `name` or `login` fields.
 - [ ] Add the `Filter` into `src/client/components/repositories/popular/Popular.js` and `src/client/components/repositories/recently-joined/RecentlyJoined.js`

[2017-10-20 19:35] iCueto commented on #42
I'm going to work on this feature. :)

[2017-10-21 17:00] rmariuzzo opened #44 "Prevent page to be zoomable"
When viewing the website in a small device it can be zoomed by double tap or pinching out. We would to prevent that.

Thia should suffice: https://stackoverflow.com/a/4472910/439427

## Tasks

 - [ ] Modify `src/client/index.html` and add proper meta tag.

[2017-10-21 17:43] #44 closed

[2017-10-21 23:51] #20 closed

[2017-10-24 04:15] rmariuzzo opened #49 "Add page title for each page components"
We currently have a few page component that needs to set a page title.

### Tasks:

 - [ ] Install https://github.com/gaearon/react-document-title (`yarn add react-document-title`)
 - [ ] Remove the `title` tag from `src/client/index.html`.
 - [ ] Wrap output of `src/client/components/repositories/popular/Popular.js` with `DocumentTitle` and set `title` to: `Popular Repositories – Dominican Open S

[2017-10-24 04:19] rmariuzzo opened #50 "Add page description"
We need to add a page description. <3 SEO friendly.

### Tasks

 - [ ] Add a `<meta name="description" content="">` tag into `src/client/index.html`.
 - [ ] Set the meta's content attribute to `Initiative to gather all possible public data about projects related to the Dominican Republic in GitHub using the GraphQL API.`

[2017-10-24 04:27] ckabalan commented on #50
I'll do this one!

[2017-10-24 04:32] janakact commented on #49
I'll do this one :)

[2017-10-24 04:33] #50 closed

[2017-10-24 04:34] rmariuzzo commented on #49
Thank you @janakact! I'm going off now, will check your PR later!

[2017-10-24 12:46] iCueto commented on #10
I'm working on this. 💯

[2017-10-24 13:09] #49 closed

[2017-10-24 13:25] rmariuzzo opened #53 "Refactor page components"
We would like to better organize page components.

### Tasks

 - [ ] Put all page components into `src/client/pages`.
 - [ ] Rename all page component into their full name.

[2017-10-24 13:25] rmariuzzo commented on #53
I'm working on this right now.

[2017-10-24 14:06] #53 closed

[2017-10-24 14:07] rmariuzzo commented on #42
Hey @iCueto, I have just done a major refactor. Pull your changes from `develop` before the cataclysm.

[2017-10-24 14:08] rmariuzzo opened #55 "Track outbound links"
We would like to track outbound links using [`react-ga`](https://github.com/react-ga/react-ga#outboundlink-component).

[2017-10-24 14:08] rmariuzzo commented on #55
I'm working on this now.

[2017-10-24 14:20] rmariuzzo commented on #10
@iCueto please, take in account the major refactor I did.

[2017-10-24 14:28] #55 closed

[2017-10-24 20:03] rmariuzzo opened #58 "Add a logo and favicons"

[2017-10-24 20:03] rmariuzzo commented on #58
Working on this.

[2017-10-24 21:01] #58 closed

[2017-10-25 15:47] rmariuzzo commented on #10
WIP

![screencast 2017-10-25 11-26-27](https://user-images.githubusercontent.com/439839/32008427-aa8bee12-b958-11e7-9f48-7e7af4e89b92.gif)

[2017-10-25 16:50] #10 closed

[2017-10-26 01:39] #42 closed

[2017-10-26 01:39] #40 closed

[2017-10-26 01:39] #18 closed

[2017-10-26 12:17] Eduardoveras opened #65 "Feature Request: Dectar entre caracteres especiales y no especiales en la busqueda"
Por ejemplo, que las personas con el nombre josé en github salgan cuando se busca jose (sin tilde)

[2017-10-26 14:18] DannyFeliz commented on #65
Pero Github no te va a dejar utilizar un nombre de usuario con caracteres especiales, solo alfanuméricos y guión tal como se muestra en la imagen
![asd](https://image.ibb.co/dPjrt6/Screen_Shot_2017_10_26_at_10_01_19_AM.png)

[2017-10-26 15:06] rmariuzzo commented on #65
Cierto, pero la búsqueda se hace ahora mismo por el nombre y no por el
login.

On Oct 26, 2017 10:18, "Danny Feliz" <notifications@github.com> wrote:

[2017-10-26 15:07] rmariuzzo commented on #65
Ah, entiendo.

On Oct 26, 2017 08:17, "Eduardo Veras" <notifications@github.com> wrote:

[2017-10-26 17:59] rmariuzzo commented on #65
@DannyFeliz el filtro utiliza el nombre y no el login, pienso que hay que utilizar ambas cosas. Pero sobre todo, como mencionó @Eduardoveras tenemos que buscar hacer búsquedas sin y con acento.

[2017-10-26 18:02] rmariuzzo commented on #65
Acabo de ver que a este feature se le llama “accent folding”, más detalles: http://alistapart.com/article/accent-folding-for-auto-complete

[2017-10-26 18:21] rmariuzzo commented on #65
I'm working on this.

[2017-10-26 20:44] raylinanthony opened #68 "Titulo de cada card, se rompe en móvil"
Se rompe el titulo en movil, se pega mucho los tags, en enlace de github se corta, recomiendo que baje abajo.

(https://user-images.githubusercontent.com/1808624/32076138-e771ae60-ba6c-11e7-824e-c12acf764f14.jpg)

[2017-10-26 20:55] raylinanthony opened #69 "Los tags deben ser clickeables"
Para la facilidad usabilidad y experiencia de los usuarios, es recomendable que al hacer clic en uno de los tags, realice el filtro.

[2017-10-26 20:57] raylinanthony opened #70 "Titulo del repositorio, debe ser clickeable"
![capture-2017-10-26 16 56 07](https://user-images.githubusercontent.com/1808624/32076639-afb5bb0e-ba6e-11e7-8805-1ea4a6aa6274.jpg)

[2017-10-26 21:00] raylinanthony opened #71 "El Above the Fold, está demasiado grande. Se debe reducir"
![capture-2017-10-26 16 58 19](https://user-images.githubusercontent.com/1808624/32076786-27447f84-ba6f-11e7-8896-99dbb738bf54.jpg)

[2017-10-26 21:01] raylinanthony opened #72 "El responsive se rompe en muchos elementos y el nombre de la persona, desaparece."
![capture-2017-10-26 16 58 19](https://user-images.githubusercontent.com/1808624/32076837-4c71f264-ba6f-11e7-9e04-e48c1f84dd03.jpg)

[2017-10-26 21:06] raylinanthony opened #73 "Resos.json genera una masa cantidad de información"
La data en JSON pesa aprox. **2MB**, esto es una petición fuerte para los usuarios.

Lo mejor sería reducir el JSON a la cantidad que se mostrará al inicio (ejemplo 9), y ya luego ir cargando con un sistema de paginado dinámico, los demás datos.

https://developersdo.github.io/opensource/data/repos.json

[2017-10-26 21:08] raylinanthony opened #74 "About - Problemas Responsive"
![capture-2017-10-26 17 08 04](https://user-images.githubusercontent.com/1808624/32077125-51ef334a-ba70-11e7-942c-ee8430ea8ec6.jpg)

[2017-10-26 21:09] raylinanthony opened #75 "About - Texto pegado"
![capture-2017-10-26 17 07 31](https://user-images.githubusercontent.com/1808624/32077141-6049185c-ba70-11e7-9120-d4a8285651e1.jpg)

[2017-10-27 19:54] mudstart commented on #74
Buenas raylinanthony  puedes informar con que dispositivo visualizaste este error.

Gracias.

[2017-10-27 19:56] mudstart commented on #75
He sometido un pull request con una soluciòn al problema

Saludos

[2017-10-27 20:10] raylinanthony commented on #74
Hola, desde un Galaxy S7, pero entiendo que desde cualquier device va a fallar.

[2017-10-28 05:23] DannyFeliz opened #79 "The menu is not visible on tablets or cell phones"
### Desktop - Good
![2017-10-28 01_18_30-popular repositories dominican open source](https://user-images.githubusercontent.com/5460365/32131515-05b4742c-bb7e-11e7-9350-3a8246f356fa.png)

<hr>

### Tablet - Bad
![developersdo github io-opensource--p -repositories-popular ipad](https://user-images.githubusercontent.com/5460365/32131531-69d38b14-bb7e-11e7-8e4b-be3ce264c1f6.png)

<hr>

### Cell Phone

[2017-10-28 13:55] #68 closed

[2017-10-28 14:01] #75 closed

[2017-10-28 14:28] #70 closed

[2017-10-28 14:38] raylinanthony opened #81 "I getting a blank page, when I tried to do click on 'New' menu"
![figure01](https://user-images.githubusercontent.com/1808624/32135375-22e89c8c-bbcc-11e7-8d50-19fce8bfb5ff.jpg)

[code]

[2017-10-28 14:56] mudstart commented on #74
Este issue fue solucionado en el pull request que he sometido
p

[2017-10-28 15:01] raylinanthony opened #83 "I'm getting a Javascript error from the console"
![figure02](https://user-images.githubusercontent.com/1808624/32135564-3c612b04-bbcf-11e7-9bbb-71fff7576891.jpg)

[2017-10-28 15:05] raylinanthony opened #84 "For some reason this autocomplete isn't work"
![1](https://user-images.githubusercontent.com/1808624/32135619-dbce4f32-bbcf-11e7-97f1-2a5f5c3a387b.gif)

[2017-10-28 15:17] raylinanthony opened #85 "I'm getting a poor performace when I use PageSpeed Insights tool"
![3](https://user-images.githubusercontent.com/1808624/32135714-96968ca2-bbd1-11e7-9209-a051c2d81838.png)
![2](https://user-images.githubusercontent.com/1808624/32135715-96ac951a-bbd1-11e7-9d10-eb9ba4bcbb7c.png)

[2017-10-28 15:24] raylinanthony opened #86 "Show a sandwich menu on small device."
Why reason the header menu is getting hide? This shouldn't be hide on mobile. You can put this menu into a such as sandwich menu?
![2](https://user-images.githubusercontent.com/1808624/32135762-58356338-bbd2-11e7-87e4-4d878b1f2666.gif)

[2017-10-28 15:30] rmariuzzo commented on #83
This could be related to #81

[2017-10-28 15:31] rmariuzzo commented on #86
The initial release didn't took in consideration mobile. Now, it is a good time to make it truly responsive.

[2017-10-28 15:34] rmariuzzo commented on #85
@raylinanthony can you create specific tasks to improve the page performance? That way we have more complete data on specific issues, and what tasks are needed to be done.

[2017-10-28 15:34] rmariuzzo commented on #84
This could be related to #81

[2017-10-28 15:36] raylinanthony commented on #85
Sure sir!, Let me check it up and I'm about to do a list task!

[2017-10-28 15:42] raylinanthony commented on #86
It'll a great approach!

[2017-10-28 15:43] raylinanthony opened #87 "Leverage browser caching for the following cacheable resources:"
Set this links up with caching expiration.

https://avatars0.githubusercontent.com/u/1013337?v=4 (5 minutes)
https://avatars1.githubusercontent.com/u/10523232?v=4 (5 minutes)
https://avatars2.githubusercontent.com/u/20671846?v=4 (5 minutes)
https://avatars2.githubusercontent.com/u/2547751?v=4 (5 minutes)
https://avatars2.githubusercontent.com/u/773158?v=4 (5 minutes)
https://avatars3.githubusercon

[2017-10-28 15:44] raylinanthony opened #88 "Optimize Images"
**Properly formatting and compressing images can save many bytes of data.**

Compressing and resizing https://avatars3.githubusercontent.com/u/439839?v=4 could save 257.2KiB (98% reduction).
Compressing and resizing https://avatars2.githubusercontent.com/u/20671846?v=4 could save 52.9KiB (98% reduction).
Compressing and resizing https://avatars3.githubusercontent.com/u/4788817?v=4 could save 28.8K

[2017-10-28 15:44] rmariuzzo opened #89 "User that change their login (username) cause undesired side effects"
GitHub allow users to change their login (username). While doing this, GitHub retain repos with the old username, when accessed, GitHub does a 301 redirect.

However, here we need to identify users by their unique id and not their volatile login name.

[2017-10-28 15:47] rmariuzzo commented on #88
Here we need to identify if GitHub avatars support resizing. Otherwise, improving this may require additional work.

[2017-10-28 15:48] rmariuzzo commented on #87
Unfortunately, we can't do anything with theses links as we don't own a server, but we use GitHub pages. That said, our own data can't be specified to be cache AFAIK. And as of external links, we can't do too much.

@raylinanthony any suggestion?

[2017-10-28 15:49] #84 closed

[2017-10-28 15:50] #81 closed

[2017-10-28 15:50] #83 closed

[2017-10-28 15:50] rmariuzzo commented on #85
Awesome!

[2017-10-28 15:50] raylinanthony opened #90 "Avatar is too big for its presentation"
Avatars are too big for them presentation. You might cropping them down for a itsy-bitsy size?
![3](https://user-images.githubusercontent.com/1808624/32136010-21745396-bbd6-11e7-9104-373c34e54db6.gif)

[2017-10-28 15:52] #74 closed

[2017-10-28 15:53] rmariuzzo commented on #90
This should be handled at: #88.

[2017-10-28 15:53] #90 closed

[2017-10-28 15:55] raylinanthony commented on #87
I understand... Well in that case, the better should be migrate all data to a server. Whether you (for any reason) couldn't doing that. It hasn't any problem. :D

[2017-10-28 16:03] rmariuzzo commented on #86
I forgot that we have a similar reported issue that was submitted before this one. Closing in favor of the first: #79.

[2017-10-28 16:03] #86 closed

[2017-10-28 18:00] rmariuzzo commented on #87
For now, I'm sticking to GitHub Pages. It is a free solution for something we are doing for fun.

[2017-10-28 18:00] #87 closed

[2017-10-28 18:19] raylinanthony commented on #87
Ok, not problem

[2017-10-29 03:11] Eduardoveras commented on #65
Thanks!

[2017-10-29 03:54] Eduardoveras commented on #79
@rmariuzzo im working on this

[2017-10-29 03:55] rmariuzzo commented on #79
Great!

On October 28, 2017, at 23:54, Eduardo Veras <notifications@github.com> wrote:

@rmariuzzo im working on this

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.￼

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/developersdo/opensource","ti

[2017-10-29 03:59] Eduardoveras commented on #79
@rmariuzzo revisa que tu auto-reply no tenga informacion que no deba, veo un api-key de github ahi 😄

[2017-10-29 04:07] rmariuzzo commented on #79
Fue un reply desee mi e-mail, parece ser algo interno de Github...

[2017-10-29 04:07] rmariuzzo commented on #79
Gracias por decirme. Le voy a escribir a Github.

[2017-10-30 16:55] Eduardoveras commented on #72
@rmariuzzo maybe esto se puede agregar al issue #79

[2017-10-30 16:57] Eduardoveras commented on #72
Cambiare el estilo de las cartas para que sea mas responsive friendly

[2017-11-08 00:39] Eduardoveras commented on #73
Creo que esto ahora mismo no es posible siendo un github page, almenos que alguien este dispuesto a poner un servidor como backend permanente.

[2017-11-08 17:21] Eduardoveras commented on #72
https://github.com/developersdo/opensource/pull/93 fixed on this PR

[2017-11-10 00:41] #79 closed

[2017-11-10 00:46] #69 closed

[2017-11-10 03:17] rmariuzzo opened #97 "Fix text color of languages in RepositoryCard compnent"
<img width="449" alt="popular repositories dominican open source 2017-11-09 23-17-26" src="https://user-images.githubusercontent.com/439839/32641421-45ba9c30-c57a-11e7-82ed-5abd734aca87.png">

[2017-11-10 03:57] #73 closed

[2017-11-10 03:57] #85 closed

[2017-11-10 03:58] #71 closed

[2017-11-10 03:58] #72 closed

[2017-11-10 04:00] rmariuzzo commented on #88
Looks like we can use the query string `s` to do resizing:

[code]

[2017-11-10 04:14] #88 closed

[2017-11-10 04:53] wilburhimself commented on #97
@rmariuzzo this is handled in #95. Check the screenshot there.

[2017-11-10 05:04] rmariuzzo commented on #97
My bad @wilburhimself! I checked the changes of the PR, but didn't paid attention to the screenshots. Sorry!

[2017-11-10 05:36] raylinanthony commented on #88
Amazing!, I'm looking that you realized a good job, Thanks. That's the better solution for improving web performance. Congratulations!

[2017-11-10 05:43] raylinanthony opened #98 "Take care about these combination of colors. Never put a clear color on to another shining color. It's illegible."
![issue25](https://user-images.githubusercontent.com/1808624/32644545-84e9b0f6-c5b8-11e7-991c-216c4aaa71c7.jpg)

[2017-11-10 14:21] rmariuzzo commented on #98
This was already reported in #97 and probably fixed at: #95.

[2017-11-10 14:21] #98 closed

[2017-11-11 04:13] rmariuzzo commented on #97
This was fixed on #95.

[2017-11-11 04:13] #97 closed

[2017-11-19 19:02] DannyFeliz opened #101 "The "Popular developers" section looks bad when the window width is 1051px"
![screen shot 2017-11-19 at 2 53 46 pm](https://user-images.githubusercontent.com/5460365/32994130-8051b1aa-cd39-11e7-9292-16eee81a77ca.png)

[2017-11-19 21:32] DannyFeliz opened #102 "Add the comma separator to the count"
![screen shot 2017-11-19 at 3 02 29 pm](https://user-images.githubusercontent.com/5460365/32995745-594f858a-cd4f-11e7-941a-12097a736da3.png)

[2017-11-28 01:46] #102 closed

[2017-12-12 13:51] DannyFeliz opened #104 "Add the position number to the card in the "Popular developers" section"
Same as #9

[2018-02-09 07:52] ergiegonzaga opened #105 "Request for Localization in tl - Tagalog or Filipino"
Hi sir,

I am Ergie P. Gonzaga would like to ask If can translate your documentation in Tagalog or Filipino.

I am a utopian.io contributor and this in one of the project I want to have a tagalog or Filipino Translation.

I'll be waiting for your response sir,
More Power and Godbless.

[2018-02-09 14:17] rmariuzzo commented on #105
Hi @ergiegonzaga, thank you for your willingness. However, I feel this project doesn't need translations right now. I will close this issue and when the project requires it I will reopen it.

[2018-02-09 14:17] #105 closed

[2018-06-14 19:54] dee-y opened #107 "Propose Logo"
Hello @rmariuzzo, i am a graphic designer. I would like to know if you would be interested in me making a logo for this project. If you would have me, i would make a logo for you, and it's free.

[2018-06-14 20:18] DannyFeliz commented on #104
Done #106

[2018-06-14 20:18] #104 closed

[2018-06-14 21:30] rmariuzzo commented on #107
@dee-y it is up to you if you want to _propose_ a logo. The only condition is that is on us to decide to us. :-) I would say go for it taking in consideration the following:

 1. No use of copyrighted material, other branding, national flags, etc...
 2. A logo that can be used as a favicon and in the top bar of the web site.

That's it! I'm waiting to see your creative side.

[2018-06-19 14:41] dee-y commented on #107
Hello @rmariuzzo, here is my proposed logo, minimal and good for favicon
![dominican](https://user-images.githubusercontent.com/36637989/41604382-facb7d3c-73d6-11e8-8465-d1734fe3eb8d.png)

any ideas on corrections to make? or the ones you like...

best regards,
Dee-y

[2018-06-19 14:44] dee-y commented on #107
"D" and "O" representing Dominican open source, the one with the eyes signifies (searching...since this project basically searches and identifies Dominican developers on git, adding them to the log).

[2018-06-30 13:07] wilburhimself commented on #107
@dee-y "D" and "O" feels like Dominican Open ...

I like the idea and the style initially, but I think it's halfway there.
Also, can we see a preview of it applied on the website current design?

[2018-09-28 02:52] iCueto commented on #107
I my personal opinion this looks like two people kissing (the forms with the dots), but the second looks appropriate.

😸

[2018-09-28 07:19] dee-y commented on #107
Lolz okay. Sorry i have been away for a while. I will show you a mockup of how it looks on the site soon.

Best regards.

[2018-10-05 04:16] rmariuzzo opened #108 "Use debug instead of chalk-printer"
1. Removed chalk-printer dependency.
 2. Install [debug](https://github.com/visionmedia/debug) as a dependency.
 3. Replace chalk-printer log calls with debug.
    - Create logic namespace using the directory path. For example: `src/server/services/scraper/repos.js` use `services:scraper:repos` (never include `src/xxx` or `index`.

[2018-10-05 04:19] rmariuzzo opened #109 "Fix LGTM issues"
LGTM reporst the following 9 alerts: https://lgtm.com/projects/g/developersdo/opensource/alerts/?mode=list we need to fix them all.

[2018-10-05 04:39] rmariuzzo opened #110 "Setup Rollbar"
1. Edit `src/client/index.html`.
 2. Add the following code (after the “Single Page Apps for GitHub Page” script)
[code]
 3. Modify `config/webpack.config.js` to inject HTML template variable with the current `NODE_ENV VALUE`. For example: `env: process.NODE_ENV`.
 4. Replace the value of the Rollbar script: `environment: "production"` with `environment: <%= htmlWebpackPlugin.options.env %>`.

[2018-10-05 04:41] rmariuzzo opened #111 "Fix NPM issues from audit report"
When running `npm audit` it report the following errors:
[code]

 1. Fix them all, or at least that can be fixed.
 2. Try to run the app locally with `npm run serve`.

[2018-10-05 04:46] vindu939 commented on #111
@rmariuzzo I can pick this up, can you assign this to me.

[2018-10-05 04:46] rmariuzzo opened #112 "Add a GitHub banner to README file"
1. Create a banner at: https://rmariuzzo.github.io/github-banner/
   - Use Kira template.
   - Set the name to: "Dominican Open Source".
   - Set the description to “Discover the open source ecosystem related to the Dominican Republic!”.
 2. Download the banner as a SVG file and store them at `.github/banner.svg` (create the directory if it doesn't exist).
 3. Add it a the top of the README file u

[2018-10-05 04:52] pnkapadia6 commented on #108
Hey @rmariuzzo! Can I take this up?

[2018-10-05 04:59] akashsara commented on #112
I'll do this!

[2018-10-05 05:15] celinrayen commented on #109
Linted off the code as reported by LGTM. I have a question out of curiosity. I saw that almost all of the rect components set their state off from the `constructor`. Though the result would be same, I'm curious why staying away from `constructor`?

[2018-10-05 06:00] adityatandon007 commented on #110
@rmariuzzo I would like to try this!

[2018-10-05 06:29] denysmedynskyi commented on #101
Can I work on this?

[2018-10-05 14:05] DannyFeliz commented on #101
@denysmedynskyi Yes!

[2018-10-05 14:10] #108 closed

[2018-10-05 14:12] denysmedynskyi commented on #101
Nice. Will start working 👨‍💻

[2018-10-05 14:20] denysmedynskyi commented on #101
Do we have a list of supported browsers?
Do we care about IE11?

[2018-10-05 15:55] #110 closed

[2018-10-05 17:50] denysmedynskyi commented on #101
@DannyFeliz @rmariuzzo hey guys, here is the PR - https://github.com/developersdo/opensource/pull/120

[2018-10-06 14:56] #109 closed

[2018-10-08 20:49] dee-y commented on #107
Hi, i designed two more logos below. First one is a representation of letters "D" and "O". While the second is a symbolic logo representing letter "D" and statistics bar, since the project deals with collection of data.

![dominican-01](https://user-images.githubusercontent.com/36637989/46632683-60147180-cb43-11e8-8cd6-118f81332847.jpg)

and here's what they look like on the website, also as favic

[2018-10-08 22:07] Zerquix18 commented on #107
To me, the "D" isn't so noticeable in the first one, so I'd go for the second one

[2018-10-09 00:34] iCueto commented on #107
Second One look mora minimalist and appropriated.

[2018-10-09 08:42] dee-y commented on #107
Great! are all votes decided?

[2018-10-09 14:37] DannyFeliz commented on #107
The second one 🤘

[2018-10-10 10:31] dee-y commented on #107
Awesome, since majority voted for the second one. Are there any logo sizes i should export for project?

[2018-10-10 12:54] rmariuzzo commented on #107
Second one looks much better.

[2018-10-10 13:21] akashsara commented on #112
Heya, just a reminder to close this issue before someone else tried to solve it.

[2018-10-10 13:40] #112 closed

[2018-10-10 13:41] rmariuzzo commented on #112
Thank you @akashsara

[2018-10-11 00:40] Zerquix18 commented on #89
Was this fixed in #91 ?

[2018-10-11 23:05] dee-y commented on #107
alright, are there any sizes you would like me to export? or i export according to universal standards for websites

[2018-10-12 00:57] rmariuzzo commented on #107
Yes, please do it. If possible create the PR accordingly.

On Thu, Oct 11, 2018, 19:05 dee-y <notifications@github.com> wrote:

[2018-10-13 09:54] dee-y commented on #107
Hello, i have created a pull request here https://github.com/developersdo/opensource/pull/123 with needed files.

[2018-10-16 06:41] DannyFeliz opened #124 "Set the developers URL in lower case"
For me it looks uncommon, most of the time you see URLs in lower case.

👉 [Developers Page](https://developersdo.github.io/opensource/developers/popular)

![image](https://user-images.githubusercontent.com/5460365/46997057-b148d600-d0ec-11e8-865b-659da14e4c58.png)

[2018-10-16 13:31] rmariuzzo commented on #124
Good catch!

On Mon, Oct 15, 2018, 23:41 Danny Feliz <notifications@github.com> wrote:

[2018-10-16 21:46] Zerquix18 commented on #124
I also think the full URL shouldn't appear. Most websites don't even show it. They usually skip the HTTP part and only show the rest. I think it'd look better since there's not a lot of space on each card.

[2018-10-16 23:14] Hekotoru commented on #124
If you guys want i can work with this issue 😄 .

[2018-10-16 23:17] DannyFeliz commented on #124
@Hekotoru Go ahead 👨🏼‍💻!

[2018-10-17 00:03] Hekotoru commented on #124
@DannyFeliz i created the PR 😄

[2018-10-18 15:04] iCueto opened #126 "Implement new logo on the Header bar."
Implement the new logo in format .svg on the Header bar element.

[2018-10-18 15:04] iCueto commented on #126
Actually I'm working on that.

[2018-10-22 21:39] iCueto commented on #126
I've create a pull request for this issues.

[2018-10-23 15:19] iCueto commented on #126
This is how I've implemented:

Desktop View:
<img width="1383" alt="Desktop View" src="https://user-images.githubusercontent.com/7944032/47371010-f5237880-d6b4-11e8-9241-ddc900161690.png">

Mobile View:
<img width="1383" alt="Mobile View" src="https://user-images.githubusercontent.com/7944032/47371071-1d12dc00-d6b5-11e8-9818-b535a9e5b5a5.png">

[2019-01-13 04:00] iCueto commented on #107
I think this issue should be closed. :)

[2019-06-14 19:45] mecm1993 commented on #89
A possible solution could be to get the repositories while it searches the users, for example,

[code]

In this scenario, we get the information that it is not being updated through the **searchRepos** query.

[2020-03-16 22:05] ogaston opened #135 "It doesnt update the data automatically"
I've noticed this page is not updating the users' repositories.

Have you considered an alternative to this current method, like rebuilding the page frequently to keep it updated? If so, I'd like to hear about, otherwise, I'd like to collaborate with a solution whether this repo is still active and you're interested in it.

[2020-04-03 13:57] david-mateogit opened #136 "Enforce code style with prettier and eslint."
Hello.

I would like to test this project and later contribute if needed but I think this needs a prettier or eslint config to enforce the recommended code-style.

This worked on my build at the end of package.json, have to do more tests.

`"prettier": {
    "printWidth": 120,
    "tabWidth": 1,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false
  },
  "eslintConfig": {
    "p

[2020-04-03 15:15] rmariuzzo commented on #136
Sounds good to me

On Fri, Apr 3, 2020, 09:57 David Mateo <notifications@github.com> wrote:

[2020-04-03 15:19] DannyFeliz commented on #136
Hey @rmariuzzo could you please check this PR https://github.com/developersdo/opensource/pull/133?

[2020-04-03 17:28] david-mateogit commented on #136
Great.
I'll do some tests and send a pr later.

BTW as a DR Dev I thank you for this.